<h3>Your Profile, <%= @user.name %>!</h3>
<br>
<% if @user.role == 'Administrator' %>
    <%= link_to 'View Earnings', income_path(id: @user.id), class: 'btn btn-info' %>
    <%= link_to 'Manage Items', all_items_path, class: 'btn btn-primary' %>
<% elsif @user.role == 'Seller' %>
    <%= link_to 'View Earnings', income_path(id: @user.id), class: 'btn btn-info' %>
    <%= link_to 'Post new item', items_new_path, class: 'btn btn-primary' %>
<% else %>
    <%= link_to 'View Bids', bid_path(id: @user.id), class: 'btn btn-success' %>
<% end %>